/*==============================================
    GENERAL  STYLES
    =============================================*/
body {
    font-family: 'Nunito', 'Avenir', 'Open Sans', sans-serif;
}

.static {
    height: 100%;
    text-align: center;
}

#permgl > p {
    border-top: 100px;
    margin: 100px;
}

form {
    text-align: left;
    font-family: inherit;
}

.heading {
    text-align: center;
    color: #000;
    height: 60px;
    border-bottom: thin solid #fc0;
}

.caps {
    font-size: 12px;
}

.button-big {
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    height: 50px;
    background-color: #fc0;
    max-width: 600px;
    width: 100%;
    text-transform: uppercase;
    display: inline-block;
    border: medium none;
}

.fineprint {
    font-size: 12px;
}

h1 {
    vertical-align: middle;
}

.map {
    width: 100%;
    text-align: center;
}

img {
    margin: 20px;
    width: 400px;
}

/* =============================
Start Navbar
=============================== */
.navbar:before,
.navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar {
    *zoom: 1;
}

/* Basic Styles */
nav {
    height: 40px;
    width: 100%;
    background: #fc0;
    font-size: 11pt;
    font-family: inherit;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid #662600;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #662600;
}
nav li a {
    border-right: 1px solid #fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav a:hover, nav a:active {
    background-color: #FFA066;
}
nav a#pull {
    display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 100%;
        float: left;
        position: relative;
        background: #FFE680;
    }
    nav li a {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #fc0;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #662600;
    }
}

/* =============================
End Navbar
=============================== */

/* ==========================================
    FORM  STYLES
============================================ */
#sayhay > *{
    width: 100%;
    height: 40px;
    margin: 0px 0px 10px 0px
}

/* ==========================================
    End  Form
============================================ */

/* ==========================================
    Chat Room  STYLES
============================================ */

.row {
    height: 60px;
    padding: 5px;
    background: #f8f8f8;
    padding-left: 20px;
    color: #AEAEAE;
    border-bottom: thin solid #fff;
}

.chatrow {
    padding: 5px;
    border-left: thick solid;
    border-bottom: thin solid #f8f8f8;
}
/* ==========================================
    End Chat Room  STYLES
============================================ */